Flask==3.1.1
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-Migrate==4.0.5
Flask-WTF==1.2.2
WTForms==3.2.1
python-dotenv==1.1.1
requests==2.32.4
google-search-results==2.4.2
SQLAlchemy==2.0.41
Markdown==3.8.2
gunicorn==21.2.0
email-validator==2.1.0
Werkzeug==1.1.3
marshmallow==4.0.0
flask-marshmallow==1.3.0
marshmallow-sqlalchemy==1.4.2
openai
