<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Vacation Outfit Planner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% block head %}{% endblock %}
  </head>

  <body>
    {% include "nav.html" %}
    {% block body %}{% endblock %}

    <footer class="footer-box">
      © 2025 PROJECT NAME. Built with 💙 by Alou Kone, Faith Winford, Abdulaziz  Ahmed, Yabsra Maelaf, Oluwamayokun Lawal    
    </footer>
  </body>
</html>