{% extends "layout.html" %}
{% block content %}
  <div class="hero-section">
    <div class="hero-image-container">
      <img src="{{ url_for('static', filename='images/womansmiling.png') }}" alt="Hero Image" class="hero-image">
    </div>
    <div class="hero-content">
      <h1>TAKE YOUR CLOSET TO THE NEXT LEVEL</h1>
      <h1>RAIN OR SHINE.</h1>
      <p>Get the perfect outfit for today.</p>
      {% if not current_user.is_authenticated %}
      <button class="btn btn-get-started" onclick="window.location.href='{{ url_for('auth.register') }}';">
        Get Started
      </button>
      {% else %}
      <button class="btn btn-get-started" onclick="window.location.href='{{ url_for('main.destination') }}';">
        Plan Your Trip
      </button>
      {% endif %}
    </div>
  </div>

  <section class="how-it-works">
    <h2>HOW IT WORKS</h2>
    <div class="cards">
      <div class="card">
        <div class="card-info">
          <h3 class="title">1. SELECT DESTINATION 📍</h3>
          <p class="description">Tell us the city and state you're visiting so we can get the right weather data.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-info">
          <h3 class="title">2. CHECK FORECAST ⛅</h3>
          <p class="description">We pull in real-time weather data for your exact destination.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-info">
          <h3 class="title">3. GET STYLED 👗</h3>
          <p class="description">We generate a perfect outfit based on the weather and your closet</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
