<nav class="navbar sticky-top navbar-expand-lg" style="background-color: #FFFFFF">
  <div class="container-fluid" style="color:#0288D1">
    <h2>StyleCast</h2>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto d-flex">
            <div class="nav-link-container"><a class="nav-link rounded fs-5" href="{{ url_for('main.home') }}">Home</a></div>
            {% if not current_user.is_authenticated %}
            <div class="nav-link-container"><a class="nav-link rounded fs-5" href="{{ url_for('auth.login') }}">Login</a></div>
            <div class="nav-link-container"><a class="nav-link rounded fs-5" href="{{ url_for('auth.register') }}">Sign Up</a></div>
            {% else %}
            <div class="nav-link-container"><a class="nav-link rounded fs-5" href="{{ url_for('main.destination') }}">Plan</a></div>
            <div class="nav-link-container"><a class="nav-link rounded fs-5" href="{{ url_for('closet.view_closet') }}">Closet</a></div>
            <div class="nav-link-container"><a class="nav-link rounded fs-5" href="{{ url_for('main.trips') }}">Profile</a></div>
            <div class="nav-link-container"><a class="nav-link rounded fs-5" href="{{ url_for('auth.logout') }}">Logout</a></div>
            {% endif %}              
        </div>
    </div>
  </div>
</nav>
